numpy==1.21.2
scikit-learn==1.0.2
scipy==1.7.3
pandas==1.4.1
torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu
--index-url https://download.pytorch.org/whl/cpu
wandb
tensorboard
tensorboardX
grpcio>=1.56.0
grpcio-tools>=1.56.0
protobuf==4.25.3
setuptools==61.2.0
pympler
PyYAML
psutil
docker
ray[default]