aggregator:
  robust_rule: fedavg
asyn:
  min_received_num: 2
  staleness_toleration: 0
  time_budget: 0
  use: false
backend: torch
bittorrent:
  chunk_selection: rarest_first
  enable: true
  enable_compensation: true
  min_completion_ratio: 0.8
  parameter_completion: global_model
  random_noise: 0.0001
  rarity_adjustment: 1.0e-06
  rarity_weight: 0.01
  timeout: 160.0
  verbose: true
  write_queue_size: 500
chunk:
  importance_method: fisher
  num_chunks: 16
chunk_importance_method: fisher
chunk_keep_rounds: 1
chunk_num: 16
criterion:
  type: BCEWithLogitsLoss
data:
  args:
  - download: true
  merge_leaf_before_split: true
  root: data/
  share_test_dataset: true
  splits:
  - 0.8
  - 0.1
  - 0.1
  splitter: lda
  splitter_args:
  - alpha: 10000
  subsample: 1.0
  transform:
  - - ToTensor
  - - Normalize
    - mean:
      - 0.485
      - 0.456
      - 0.406
      std:
      - 0.229
      - 0.224
      - 0.225
  type: celeba
dataloader:
  batch_size: 16
  num_workers: 0
device: 0
distribute:
  client_host: unix:///tmp/federatedscope_uds/client_1_51283.sock
  client_port: 51283
  data_idx: 1
  role: client
  server_host: unix:///tmp/federatedscope_uds/server_46879.sock
  server_port: 46879
  uds_dir: /tmp/federatedscope_uds
  use: true
  use_uds: true
early_stop:
  delta: 0.0
  improve_indicator_mode: best
  patience: 1000
eval:
  best_res_update_round_wise_key: val_acc
  freq: 1
  metrics:
  - acc
  - correct
  - f1
federate:
  client_num: 50
  make_global_eval: false
  method: fedavg
  mode: distributed
  online_aggr: false
  restore_from: ''
  sample_client_num: 50
  save_to: ''
  share_local_model: false
  total_round_num: 100
grad:
  grad_clip: 5.0
model:
  dropout: 0.0
  in_channels: 3
  out_channels: 1
  type: resnet18
outdir: ray_v2_output/client_1_output
personalization:
  local_param:
  - bn
quantization:
  method: none
  nbits: 8
seed: 12346
topology:
  connections: 4
  timeout: 600.0
  type: mesh
  use: true
  verbose: true
train:
  batch_or_epoch: epoch
  local_update_steps: 1
  optimizer:
    lr: 0.0001
    type: Adam
    weight_decay: 0.0005
  scheduler:
    milestones:
    - 11
    schedulers:
    - start_factor: 0.01
      total_iters: 10
      type: LinearLR
    - T_max: 90
      eta_min: 1.0e-08
      type: CosineAnnealingLR
    type: SequentialLR
trainer:
  type: cvtrainer
use_gpu: true
wandb:
  client_train_info: false
  use: false
